.intro__title {
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  color: #fff;
  max-width: 690px;
}

@media screen and (max-width: 767px) {
  .intro__title {
    font-size: 33px;
    line-height: 35px;
  }
}
